{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "react"
  ],
  "parserOptions": {
    "sourceType": "module",
    "parser": "babel-eslint",
    "ecmaVersion": 11,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "indent": ["error", 2],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "no-console": "off",
    "react/prop-types": "off",
    "react/no-set-state": "off"
  }
}
