*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  font: 400 16px/1.2 "Open Sans",Ubuntu,sans-serif;
  text-rendering: optimizeLegibility;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
}